<html>
    <head>
        <title>Shoes</title>
    </head>
    <body>

      <!--Link to stores -->
      <a href="/stores">Stores</a>
      <!-- link to brands  -->
        <a href="/brands">Brands</a>
    </body>
    
</html>
